
.navbar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: #333 solid 0.5px;

}

.navbar img {
  margin-left: 50px;
}

.navigation-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  margin-right: 50px;

}

.navigation-menu a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  padding: 6px;
}
.search-icon{
  align-items: center;
  background-color: #c6c628;
  border-radius: 20px;
  height: 30px;

}
.hero {
  display: flex;
        flex-direction: column;
        justify-content: end;
  text-align: center;
  height: 80vh;
  background-image: 
  url("https://refactory.academy/wp-content/uploads/2025/08/Refactory_Staff-83.jpg");
  background-size: cover;
  background-position: center center;
color: white; 
padding: 20px;
}
.hero-items{
  padding: 20px;
}
.button1 {
  background-color: #c6c628;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 15px;
  border: none;
  border-radius: 5px;
  margin: 30px;
}
.button2 {
  background-color: #663367;

  font-size: 16px;
  text-align: center;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
 
}
.button3 {
  background-color: #ffff;

  font-size: 16px;
  text-align: center;
  color: #663367;
  padding: 15px;
  border: none;
  border-radius: 5px;
  margin: 30px;
}

.section1 {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  font-family: "DM Sans", sans-serif;
  padding: 30px;
}


.section1 h3 {
  font-size: 30px;
  color: #663367;

}

.section1 p {
  color: #797171;
  font-family: Arial;
}

.section1 h4 {
  color: #38bfc3;
}

.section1 button {
  background-color: #c6c628;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
}
.section2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  font-family: "DM Sans", sans-serif;
  padding: 30px;
}
.section2-titel h4 {
  font-family: sans-serif;
  color: #38bfc3;
  font-size: 18px;
  text-align: center;

}.section2-titel h3 {
  font-family: sans-serif;
  color:#663367;
  font-size: 30px;
  text-align: center;

}
.section2-body{
  display: flex;
  flex-direction: row;
  width: 300;
  justify-content: space-between;
  gap: 30px;
}
.section2-body h5{
  color:#663367;
  font-size: 20px;
  margin: 16px 0px 10px;
}
.section2-body p{
  font-family: Arial;
}
.section2-body button{
  background-color: #c6c628;
  color: white;
  font-size: 15px;
  padding: 16px ;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}
.section3 {
  display: flex;
  flex-direction: row;
  
  background-color:  #002a48;
  color: white;
  font-family: "DM Sans", sans-serif;
  padding: 60px;
}
.section3-img{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0px;
}
.section3-img img{
  border: white  6px solid ;
}
.section3-img2{
  margin-left: 60px;
}
.section3-text{
  display: flex;
  flex-direction: column;
}

.section3 h3 {
  font-size: 30px;
  color: white;

}
.contenr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.section4 {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  font-family: "DM Sans", sans-serif;
  padding: 30px;
}

.section4 h3 {
  font-size: 30px;
  color: #0F5395;

}

.section4 p {
  color: #797171;
  font-family: Arial;
}

.section4 h4 {
  color: #002A48;
}

.section4 button {
  background-color: #c6c628;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
}
footer {
  background-image: url(https://refactory.academy/wp-content/uploads/2025/07/19534059_6144290.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.footer-call {
  display: flex;
  flex-direction: row;
  padding: 40px;
  justify-content: space-between;
}
.resources-menu{
  color: white;
  align-items: center;
  list-style: none;
  gap: 20px;
}
.footer-call p{
  text-align: left;
}
.copyR{
  padding: 20px;

  border-top: #ffff solid;
  text-align: center;
}